# Logs
logs
*.log

# Cypress specific
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Reports
cypress/reports/

# Node.js dependencies
node_modules

### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets